*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.nav_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    padding:25px 35px;
}
.logo_text a{
    color:#fff;
    font-size: 32px;
}
.logo_text a:hover{
    color:#F25836;
}
.menu_bar ul{
    display: flex;
    align-items: center;
    gap:20px;
    
}

.menu_bar ul li a{
    font-size:16px;
    color:#fff;
    cursor:pointer;
    font-weight: bold;  
}
.menu_bar ul li a:hover{
    color:#F25836;
}
.hero_section{
    display:flex;
    align-self: center;
    justify-content: space-between;
    padding: 100px;
}
.hero_text{
  padding:60px 80px;
}
.hero_text h2{
    color:#333333;
    padding-top:60px;
    font-size:35px;
    font-weight:bold;                                                                                  
}
.hero_text p{
    font-size:18px;
    padding-top:20px;

}
.hero_text a{
    margin-top: 50px;
}
.resume{
    margin-top:40px;

}
.resume_download{
   padding:10px 20px;
   border:1px solid #F25836;
   font-size:18px;
   font-weight: bold;
   cursor:pointer;
   border-radius: 5px;
  
}
.resume_download:hover{
    background-color: #333333;
    color:#fff;
}
.hero_img{
   padding-right: 90px;
}

.hero_img .hero_image{
   
   box-shadow: 5px 5px;
} 