*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.nav_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
}

.menu_bar{
    display: ;
}