*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* nav sec */
.nav_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    padding:25px 35px;
}
.logo_text a{
    color:#fff;
    font-size: 32px;
}
.logo_text a:hover{
    color:#F25836;
}
.menu_bar ul{
    display: flex;
    align-items: center;
    gap:20px;
    
}

.menu_bar ul li a{
    font-size:16px;
    color:#fff;
    cursor:pointer;
    font-weight: bold;  
}
.menu_bar ul li a:hover{
    color:#F25836;
}

/* hero sec */
.hero_section{
    display:flex;
    align-self: center;
    justify-content: space-between;
    padding: 100px;
}
.hero_text{
  padding:60px 80px;
}
.hero_text h2{
    color:#333333;
    padding-top:60px;
    font-size:35px;
    font-weight:bold;                                                                                  
}
.hero_text p{
    font-size:18px;
    padding-top:20px;

}
.hero_text a{
    margin-top: 50px;
}
.resume{
    margin-top:40px;

}
.resume_download{
   padding:10px 20px;
   border:1px solid #F25836;
   font-size:18px;
   font-weight: bold;
   cursor:pointer;
   border-radius: 5px;
  
}
.resume_download:hover{
    background-color: #333333;
    color:#fff;
}
.hero_img{
   padding-right: 90px;
   padding-top:50px;
   
}

.hero_image{
    width:300px;
   box-shadow: 5px 5px #F25836;;
} 

/* skills sec */
.skills_sec{
    background-color: #F0F0F0;
    padding:50px;
    margin:80px 80px;
    border:2px solid #F0F0F0;
    border-radius: 10px;
}
.skills_sec h1{
    color:#000000;
    font-size:30px;
    font-weight: bold;
}


.skills_container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding:30px 0px 30px 0px;
}
.skill{
    background-color: #fff;
    padding:20px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 8px;
    margin:0px auto;
}
.skill h2{
    padding:15px;
    color:#F25836;
    font-weight: bold;
}
.skill p{
    font-size:15px;
    padding:10px;
}
/* project sec */
.projects_sec{
    background-color: #F0F0F0;
    padding:50px;
    margin:80px 80px;
    border:2px solid #F0F0F0;
    border-radius: 10px;
}

.project_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:30px 0px 30px 0px;
    gap:20px;
}
.project{
    background-color: #fff;
    padding:20px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 8px;
    
}

.project h3{
    padding:15px;
    color:#F25836;
    font-weight: bold;
}

.project p{
    font-size:15px;
    padding:10px;
}

.project a{
    font-size:18px;
    cursor:pointer;
}

/* contact sec */

.contact_sec{
    margin: 80px 80px;
    padding: 50px;
}
.contact_heading h2{
    padding-top:10px;
}
.contact_heading p{
    padding-top: 10px;
    font-size: 15px;
}

.contact_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact_form{
    margin-top:20px;
}
form{
    display:flex;
    flex-direction: column;
}
form > input{
    width:400px;
    padding:5px;
    font-size: 16px;
    cursor: pointer;
}
textarea{
    height:100px;
    width:400px;
    padding:5px;
    font-size:16px;
}
.contact_form button{
    background-color: #F25836;
    color:#F0F0F0;
    width:200px;
    padding:15px 35px;
    font-size: 18px;
    border:2px solid #333;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.contact_form button:hover{
    background-color:#333333;
    color:#fff;
}

/* footer sec */
.footer_sec{
    background-color: #333333;
    padding: 30px;
    text-align: center;
    color:#fff;
    font-size: 18px;
}